In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from matplotlib.colors import ListedColormap
from collections import defaultdict
from sklearn.metrics import confusion_matrix
import warnings
warnings.filterwarnings('ignore')
import sklearn
import pickle

import importlib.util

In [25]:
# importing utility file 
spec = importlib.util.spec_from_file_location("Util","/home/user/PycharmProjects/Machine-Learning-Fellowship/week10/Utility/util_class.py")
foo = importlib.util.module_from_spec(spec)
spec.loader.exec_module(foo)
# creating object of util class
util_obj = foo.Util()

In [26]:
data_module = pd.read_csv('1625Data.txt',names=['octamers','flags'])
data_module.head()

   octamers  flags
0  SLNLRETN      1
1  AECFRIFD      1
2  HLVEALYL      1
3  TQIMFETF      1
4  AEELAEIF      1

In [27]:
data_module.shape

(1625, 2)

In [28]:
data_module.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1625 entries, 0 to 1624
Data columns (total 2 columns):
octamers    1625 non-null object
flags       1625 non-null int64
dtypes: int64(1), object(1)
memory usage: 25.5+ KB

In [29]:
# # Seperate all amino acids
octamers = np.array([[data_module["octamers"][i][j] for i in range(data_module.shape[0])] for j in range(8)])
print(octamers.shape)

(8, 1625)

In [30]:
# Store the seperated amino acids into a dataframe
data_module1=pd.DataFrame(octamers.T, columns=list('ABCDEFGH'))
print(data_module1.head())
print(data_module1.shape)

   A  B  C  D  E  F  G  H
0  S  L  N  L  R  E  T  N
1  A  E  C  F  R  I  F  D
2  H  L  V  E  A  L  Y  L
3  T  Q  I  M  F  E  T  F
4  A  E  E  L  A  E  I  F
(1625, 8)

In [31]:
# data_module= pd.concat([data_module,data_module1])
# print(data_module)
# print(data_module.shape)
data_module = data_module.assign(**data_module1)
data_module.head()

   octamers  flags  A  B  C  D  E  F  G  H
0  SLNLRETN      1  S  L  N  L  R  E  T  N
1  AECFRIFD      1  A  E  C  F  R  I  F  D
2  HLVEALYL      1  H  L  V  E  A  L  Y  L
3  TQIMFETF      1  T  Q  I  M  F  E  T  F
4  AEELAEIF      1  A  E  E  L  A  E  I  F

In [32]:
data_module.drop(columns=["octamers"],inplace=True)
data_module.head()

   flags  A  B  C  D  E  F  G  H
0      1  S  L  N  L  R  E  T  N
1      1  A  E  C  F  R  I  F  D
2      1  H  L  V  E  A  L  Y  L
3      1  T  Q  I  M  F  E  T  F
4      1  A  E  E  L  A  E  I  F

In [33]:
train,test=util_obj.split(data_module,0.2)

train :  (1300, 9)  test :  (325, 9)

In [34]:
# train.to_csv('train.csv',index=0)
test.to_csv('test.csv',index=0)

In [35]:
# splitting training data into train and cross validation dataset 
train_data,cv_data=util_obj.split(train,0.3)

train :  (910, 9)  test :  (390, 9)

In [36]:
data_module.head()

   flags  A  B  C  D  E  F  G  H
0      1  S  L  N  L  R  E  T  N
1      1  A  E  C  F  R  I  F  D
2      1  H  L  V  E  A  L  Y  L
3      1  T  Q  I  M  F  E  T  F
4      1  A  E  E  L  A  E  I  F

In [37]:
# separating features and labels of training dataset
x_train = np.array(data_module.drop(columns=["flags"]))
y_train = np.array(data_module.flags)

In [38]:
print(x_train.shape)
print(y_train.shape)

(1625, 8)
(1625,)

In [39]:
x_train=pd.DataFrame(x_train)
print(x_train.shape)

(1625, 8)

In [40]:
x_train = util_obj.one_Hot_Encoding(x_train)

In [41]:
#feature scalling
sc_x = StandardScaler()
# sc_y= StandardScaler()
x_train =sc_x.fit_transform(x_train)
# y_train =sc_y.transform(y_train.reshape(-1,1))
# print(x_train.shape,y_train.shape)

In [42]:
cv_x = np.array(cv_data.drop(columns=["flags"]))
cv_y = np.array(cv_data.flags)

In [43]:
cv_x=pd.DataFrame(cv_x)
print(cv_x.shape)

(390, 8)

In [44]:
print('cross validate data x',cv_x.shape)
print('cross validate data y',cv_y.shape)

cross validate data x (390, 8)
cross validate data y (390,)

In [48]:
class KNN_Regression:
    def KNN_model(self,x_train,y_train):
        classifier = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)
        classifier.fit(x_train,y_train)
#         print(x_train,y_train)
        return classifier
def main():
    obj = KNN_Regression()
    
    classifier = obj.KNN_model(x_train,y_train)
    print(classifier)
    
    predict = util_obj.predict(x_train,classifier)
    print("predict value",predict)
    
    cm = util_obj.confusion_matrix(y_train,predict)
    print('confusion matrix is:',cm)
   
    accuracy = util_obj.accuracy(predict,y_train)
    print("accuracy",accuracy)
     
#     util_obj.visualization(x_train,y_train,predict,classifier)

if __name__ == '__main__':
    main()

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')
predict value [ 1  1 -1 ...  1 -1  1]
confusion matrix is: [[1112  138]
 [  21  354]]
accuracy 90.21538461538462

In [49]:
class Cross_validataion:
    def KNN_model(self,cv_x,cv_y):
        classifier = KNeighborsClassifier(n_neighbors=5,metric='minkowski',p=2)
        classifier.fit(cv_x,cv_y)
        return classifier
def main():
    obj =Cross_validataion()
    
    classifier = obj.KNN_model(cv_x,cv_y)
    print(classifier)
    
    predict = util_obj.predict(cv_x,classifier)
    print("predict value",predict)
    
    cm = util_obj.confusion_matrix(cv_y,predict)
    print('confusion matrix is:',cm)
   
    accuracy = util_obj.accuracy(predict,cv_y)
    print("accuracy",accuracy)
   
    # pickle file
    util_obj.create_pickle(classifier,'KNNRegression.pkl' )
    print("Pikle file created")
    
#     util_obj.visualization(cv_x,cv_y,predict,classifier)

if __name__ == '__main__':
    
    
    
    main()

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')
predict value [-1 -1  1  1 -1 -1 -1 -1  1 -1 -1 -1 -1  1  1 -1 -1 -1  1 -1 -1 -1  1 -1
 -1 -1 -1  1  1 -1 -1 -1 -1 -1 -1  1  1 -1 -1  1  1  1  1 -1 -1 -1 -1 -1
 -1  1 -1  1 -1 -1 -1  1  1 -1 -1 -1  1 -1  1 -1 -1 -1  1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1 -1  1 -1 -1 -1 -1 -1 -1  1
 -1 -1  1 -1 -1  1 -1  1 -1  1 -1 -1 -1 -1 -1 -1  1  1 -1 -1  1  1 -1 -1
 -1 -1 -1 -1 -1 -1  1  1 -1  1 -1  1 -1 -1 -1 -1 -1 -1  1 -1 -1 -1 -1  1
  1  1 -1 -1 -1 -1 -1 -1  1 -1 -1  1 -1 -1  1 -1 -1 -1 -1  1 -1  1 -1 -1
 -1  1  1 -1  1 -1  1  1 -1 -1 -1  1 -1  1  1 -1 -1 -1  1 -1  1 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1  1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1 -1 -1
 -1 -1 -1  1 -1  1 -1 -1 -1 -1  1 -1 -1  1  1 -1 -1  1 -1 -1 -1 -1 -1 -1
 -1 -1 -1 -1 -1  1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1 -1 -1 -1 -1 -1
  1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1 -1 -1 -1  1  1 -1
  1 -1 -1  1 -1  1  1 -1 -1  1 -1  1 -1 -1 -1 -1 -1 -1  1 -1  1 -1 -1 -1
 -1 -1 -1  1 -1 -1 -1 -1  1 -1 -1 -1 -1 -1 -1 -1  1 -1 -1  1 -1 -1 -1  1
 -1 -1 -1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1  1 -1 -1 -1 -1 -1  1 -1  1  1  1
  1 -1  1 -1 -1 -1 -1 -1 -1  1  1 -1  1  1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1
  1  1 -1 -1  1 -1]
confusion matrix is: [[281  21]
 [  8  80]]
accuracy 92.56410256410257
Pikle file created